<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:sqlserver://localhost:1433; database=eshop; user=sa; password=123456</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>controller.ApplicationListener</listener-class>
    </listener>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>controller.SessionListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
